@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,400i,700');

* {
	box-sizing: border-box;
}

body {
	background-color: whitesmoke;
	margin: 0;
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-size: 0.8rem;*/
}

h1, h2, h3, h4 {
	/*font-family: 'Lato', sans-serif;*/
}

h1 {
	/*color: #f1c40f;*/
}
h2 {
	/*color: #2c3e50;*/
}

/*header {
	height: 70px;
	padding: 16px;
	background-color: darkcyan;
}*/

.board, .column, .pseudo-column, .card, .pseudo-card, .card-placeholder {
/*	border-radius: 5px;
	padding: 16px;*/
	position: relative;
}
.board {
	padding: 16px 16px 0;
}

.board, .main {
	margin: 0;
	max-height: calc(100vh - 90px);
	height: 100%;
	display: inline-block;
	min-width: 100%;
}
.column, .pseudo-column {
	/*background-color: white;*/
	min-width: 300px;
	width: 300px;
}
.pseudo-column {
	background-color: #ccc;
	height: 80px;
}
.column {
	height: 100%;
	margin-right: 8px;
	/*background-color: #ecf0f1;*/
}
.board-column-list {
	display: flex;
	/*flex-direction: row;
	flex-wrap: nowrap;
*/	padding: 0;
	list-style-type: none;
	max-height: 93%;
}
.card, .card-placeholder, .pseudo-card {
}
.pseudo-card {
	display: flex;
	/*padding: 0 10px;*/
	padding: 0 5px;
}
.card {
	margin-bottom: 10px;
	z-index: 10;
	width: 100%;
	/*background-color: #bdc3c7;*/
}
.card:hover {
	/*border: 1px solid #7f8c8d;*/
	cursor: pointer;
}
.card-placeholder {
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	background-color: #7f8c8d;
	height: 50px;
}
.card-description {
	word-wrap: break-word;
	max-height: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.column-card-list {
	list-style-type: none;
	padding: 0 5px;
	overflow-y: auto;
	overflow-x: visible;
	max-height: calc(100vh - 351px);
	min-height: 15px;
	margin-top: 10px;	
}
/*.btn {
	cursor: pointer;
}*/

.navbar {
	margin-bottom: 0;
}

.column-nav {
	position: absolute;
	right: 0;
	top: 1rem;
	/*visibility: hidden;*/
}
.column:hover .column-nav {
	/*visibility: visible;*/
}
.column-name-form-group {
	padding-bottom: 0;
	margin-top: 16px;
}
.dropdown-menu {
	z-index: 100;
	color: white;
}

.card > .btn-delete,
.card > .btn-edit {
	/*float: right;*/
	position: absolute;
	right: 0px;
	top: -10px;
	visibility: hidden;
}
.card > .btn-edit {
	right: 55px;
}
.card:hover > .btn-delete,
.card:hover > .btn-edit {
	visibility: visible;
}

/*[class*=' btn-add'] {
	background-color: #f39c12;
	color: white;
	font-size: 24px;
    line-height: 32px;
    position: relative;
    top: 4px;
}*/
.btn-add-card {
	display: none;
}

.alert {
	position: absolute;
	top: 16px;
	left: 20%;
	text-align: center;
	z-index: 99;
	padding: 15px 20px;
	border-radius: 5px;
}
.danger {
	background-color: #e74c3c;
	color: #ecf0f1;
}

.id {
	display: none;
}

/*input.add-board, input.input-add-column, .textarea-add-card, .textarea-edit-card {
	line-height: 24px;
	border-radius: 2px;
	box-shadow: 2px 2px #7f8c8d;
	padding: 5px 10px;
	font-family: 'Open Sans', sans-serif;
}
input {
	margin-right: 2px;
}*/
.textarea-add-card {
	resize: none;
	padding: 5px 10px;
	/*width: 100%;*/
}

/* modal for card editing */
.modal-container {
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: rgba(44, 62, 80, 0.8);
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-card {
	z-index: 20;
	max-width: 500px;
	max-height: 400px;
	width: 100%;
	height: 100%;
	background-color: #ecf0f1;
	opacity: 1.0;
	border-radius: 3px;
	padding: 20px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.textarea-edit-card {
	opacity: 1.0;
	resize: none;
	width: 100%;
	height: calc(100% - 50px);
}
.btn-save-card,
.btn-cancel {
	margin-top: 15px;
	margin-left: 5px;
	float: right;
}

.material-icons.md-18 {
	font-size: 18px;
}